[submodule "vendor-bills"]
	path = vendor-bills
	url = git@git.vauxoo.com:vauxoo/vendor-bills.git
	branch = 12.0
[submodule "mexico"]
	path = mexico
	url = git@git.vauxoo.com:vauxoo/mexico.git
	branch = 12.0

[submodule "cfletes13/marvelfields"]
	path = cfletes13/marvelfields
	url = git@github.com:cfletes13/marvelfields.git
	branch = master

[submodule "gnieto2824/limite"]
	path = gnieto2824/limite
	url = git@github.com:gnieto2824/limite.git
	branch = master

[submodule "cfletes13/marvelfields2"]
	path = cfletes13/marvelfields2
	url = git@github.com:cfletes13/marvelfields.git
	branch = master

[submodule "cfletes13/marvelmarcas"]
	path = cfletes13/marvelmarcas
	url = git@github.com:cfletes13/marvelmarcas.git
	branch = master

[submodule "cfletes13/stock_forecast"]
	path = cfletes13/stock_forecast
	url = git@github.com:cfletes13/stock_forecast.git
	branch = master

[submodule "cfletes13/purchase_date_planned_manual"]
	path = cfletes13/purchase_date_planned_manual
	url = git@github.com:cfletes13/purchase_date_planned_manual.git
	branch = master

[submodule "cfletes13/merge_purchase_order"]
	path = cfletes13/merge_purchase_order
	url = git@github.com:cfletes13/merge_purchase_order.git
	branch = master

[submodule "cfletes13/deltatech_simple_crm_claim"]
	path = cfletes13/deltatech_simple_crm_claim
	url = git@github.com:cfletes13/deltatech_simple_crm_claim.git
	branch = master
