[submodule "vendor-bills"]
	path = vendor-bills
	url = git@git.vauxoo.com:vauxoo/vendor-bills.git
	branch = 12.0
[submodule "mexico"]
	path = mexico
	url = git@git.vauxoo.com:vauxoo/mexico.git
	branch = 12.0

[submodule "gnieto2824/limite"]
	path = gnieto2824/limite
	url = git@github.com:gnieto2824/limite.git
	branch = master

[submodule "cfletes13/marvelmarcas"]
	path = cfletes13/marvelmarcas
	url = git@github.com:cfletes13/marvelmarcas.git
	branch = master

[submodule "cfletes13/stock_forecast"]
	path = cfletes13/stock_forecast
	url = git@github.com:cfletes13/stock_forecast.git
	branch = master

[submodule "cfletes13/purchase_date_planned_manual"]
	path = cfletes13/purchase_date_planned_manual
	url = git@github.com:cfletes13/purchase_date_planned_manual.git
	branch = master

[submodule "cfletes13/merge_purchase_order"]
	path = cfletes13/merge_purchase_order
	url = git@github.com:cfletes13/merge_purchase_order.git
	branch = master

[submodule "cfletes13/marvelsa_minimum_price"]
	path = cfletes13/marvelsa_minimum_price
	url = git@github.com:cfletes13/marvelsa_minimum_price.git
	branch = master

[submodule "cfletes13/advance_purchase_ordering_ept"]
	path = cfletes13/advance_purchase_ordering_ept
	url = git@github.com:cfletes13/advance_purchase_ordering_ept.git
	branch = master

[submodule "cfletes13/stock_cycle_count"]
	path = cfletes13/stock_cycle_count
	url = git@github.com:cfletes13/stock_cycle_count.git
	branch = master

[submodule "cfletes13/stock_inventory_discrepancy"]
	path = cfletes13/stock_inventory_discrepancy
	url = git@github.com:cfletes13/stock_inventory_discrepancy.git
	branch = master

[submodule "cfletes13/report_sale_profitability_ept"]
	path = cfletes13/report_sale_profitability_ept
	url = git@github.com:cfletes13/report_sale_profitability_ept.git
	branch = master

[submodule "gnieto2824/stock_inventory_valuation_location"]
	path = gnieto2824/stock_inventory_valuation_location
	url = git@github.com:gnieto2824/stock_inventory_valuation_location.git
	branch = master

[submodule "gnieto2824/stock_by_warehouse_sale-12.0.1.0.0"]
	path = gnieto2824/stock_by_warehouse_sale-12.0.1.0.0
	url = git@github.com:gnieto2824/stock_by_warehouse_sale-12.0.1.0.0.git
	branch = master

[submodule "cfletes13/stock_inventory_exclude_sublocation"]
	path = cfletes13/stock_inventory_exclude_sublocation
	url = git@github.com:cfletes13/stock_inventory_exclude_sublocation.git
	branch = master


[submodule "cfletes13/mvsa_claims"]
	path = cfletes13/mvsa_claims
	url = git@github.com:cfletes13/mvsa_claims.git
	branch = master

[submodule "cfletes13/intercompany_transaction_ept"]
	path = cfletes13/intercompany_transaction_ept
	url = git@github.com:cfletes13/intercompany_transaction_ept.git
	branch = master

[submodule "cfletes13/website_sale_default_code"]
	path = cfletes13/website_sale_default_code
	url = git@github.com:cfletes13/website_sale_default_code.git
	branch = master

[submodule "cfletes13/website_sale_product_stock"]
	path = cfletes13/website_sale_product_stock
	url = git@github.com:cfletes13/website_sale_product_stock.git
	branch = master

[submodule "cfletes13/website_sale_advanced_search"]
	path = cfletes13/website_sale_advanced_search
	url = git@github.com:cfletes13/website_sale_advanced_search.git
	branch = master

[submodule "cfletes13/website_webkul_addons"]
	path = cfletes13/website_webkul_addons
	url = git@github.com:cfletes13/website_webkul_addons.git
	branch = master

[submodule "cfletes13/website_sale_add_to_cart"]
	path = cfletes13/website_sale_add_to_cart
	url = git@github.com:cfletes13/website_sale_add_to_cart.git
	branch = master

[submodule "gnieto2824/mvsa_update_pricelist"]
	path = gnieto2824/mvsa_update_pricelist
	url = git@github.com:gnieto2824/mvsa_update_pricelist.git
	branch = master

[submodule "cfletes13/to_safe_confirm_button"]
	path = cfletes13/to_safe_confirm_button
	url = git@github.com:cfletes13/to_safe_confirm_button.git
	branch = master

[submodule "cfletes13/to_base"]
	path = cfletes13/to_base
	url = git@github.com:cfletes13/to_base.git
	branch = master

[submodule "cfletes13/stock_no_negative"]
	path = cfletes13/stock_no_negative
	url = git@github.com:cfletes13/stock_no_negative.git
	branch = master

[submodule "cfletes13/deltatech_simple_crm_claim"]
	path = cfletes13/deltatech_simple_crm_claim
	url = git@github.com:cfletes13/deltatech_simple_crm_claim.git
	branch = master

[submodule "cfletes13/to_attendance_device"]
	path = cfletes13/to_attendance_device
	url = git@github.com:cfletes13/to_attendance_device.git
	branch = master

[submodule "cfletes13/search_compatible"]
	path = cfletes13/search_compatible
	url = git@github.com:cfletes13/search_compatible.git
	branch = master

[submodule "cfletes13/partner_category_hierarchy"]
	path = cfletes13/partner_category_hierarchy
	url = git@github.com:cfletes13/partner_category_hierarchy.git
	branch = master

[submodule "cfletes13/website_sale_pricelist_visibility"]
	path = cfletes13/website_sale_pricelist_visibility
	url = git@github.com:cfletes13/website_sale_pricelist_visibility.git
	branch = master

[submodule "cfletes13/mrp_workorder_cancel"]
	path = cfletes13/mrp_workorder_cancel
	url = git@github.com:cfletes13/mrp_workorder_cancel.git
	branch = master

[submodule "cfletes13/cancel_all_orders_app"]
	path = cfletes13/cancel_all_orders_app
	url = git@github.com:cfletes13/cancel_all_orders_app.git
	branch = master

[submodule "cfletes13/stock_picking_cancel_app"]
	path = cfletes13/stock_picking_cancel_app
	url = git@github.com:cfletes13/stock_picking_cancel_app.git
	branch = master

[submodule "gnieto2824/inventory_coverage_report_ept"]
	path = gnieto2824/inventory_coverage_report_ept
	url = git@github.com:gnieto2824/inventory_coverage_report_ept.git
	branch = master

[submodule "cfletes13/pos_order_mgmt"]
	path = cfletes13/pos_order_mgmt
	url = git@github.com:cfletes13/pos_order_mgmt.git
	branch = master

[submodule "cfletes13/aar_pos_ticket"]
	path = cfletes13/aar_pos_ticket
	url = git@github.com:cfletes13/aar_pos_ticket.git
	branch = master

[submodule "cfletes13/pos_product_available"]
	path = cfletes13/pos_product_available
	url = git@github.com:cfletes13/pos_product_available.git
	branch = master

[submodule "cfletes13/pos_set_default_customer"]
	path = cfletes13/pos_set_default_customer
	url = git@github.com:cfletes13/pos_set_default_customer.git
	branch = master

[submodule "cfletes13/pos_product_available_negative"]
	path = cfletes13/pos_product_available_negative
	url = git@github.com:cfletes13/pos_product_available_negative.git
	branch = master

[submodule "cfletes13/pos_pin"]
	path = cfletes13/pos_pin
	url = git@github.com:cfletes13/pos_pin.git
	branch = master

[submodule "cfletes13/website_stock"]
	path = cfletes13/website_stock
	url = git@github.com:cfletes13/website_stock.git
	branch = master

[submodule "cfletes13/marvelfields"]
	path = cfletes13/marvelfields
	url = git@github.com:cfletes13/marvelfields.git
	branch = master

[submodule "cequihuamarvelsa/marvelsa-addons"]
	path = cequihuamarvelsa/marvelsa-addons
	url = git@github.com:cequihuamarvelsa/marvelsa-addons.git
	branch = master

[submodule "cfletes13/mvsa_shopify"]
	path = cfletes13/mvsa_shopify
	url = git@github.com:cfletes13/mvsa_shopify.git
	branch = master

[submodule "cfletes13/agro-odoo-shopify"]
	path = cfletes13/agro-odoo-shopify
	url = git@github.com:cfletes13/agro-odoo-shopify.git
	branch = master

[submodule "cfletes13/hr_attendance_print"]
	path = cfletes13/hr_attendance_print
	url = git@github.com:cfletes13/hr_attendance_print.git
	branch = master

[submodule "gnieto2824/setu_abc_analysis_reports"]
	path = gnieto2824/setu_abc_analysis_reports
	url = git@github.com:gnieto2824/setu_abc_analysis_reports.git
	branch = master

[submodule "gnieto2824/setu_advance_inventory_reports"]
	path = gnieto2824/setu_advance_inventory_reports
	url = git@github.com:gnieto2824/setu_advance_inventory_reports.git
	branch = master
